.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0218a;
    border-radius: 10px;
}

.word{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}


/* Rotating Earth Screen Logo */
.earth{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: url(./world-map.png);
    background-size: cover;
    border: black 1px solid;
    animation: spin 5s linear infinite;
}

@keyframes spin{
    100%{ background-position: 100%;}
}