:root{
    --midnight: #454d66;
    --mint-ivy: #309975;
    --lime: #58b368;
    --lemon: #dad873;
    --chamomile: #efeeb4;
    --sea-salt:  #f7f7f6;
    --fir: #36492e;
}

body{
    background-color: var(--sea-salt);
}

.web-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin:auto;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
    border: var(--fir) 2px solid;
    border-radius: 10px;
}

.web-level{
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.web-level-item{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lime);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 10px;
}

.web-level-item:hover{
    cursor: pointer;
}

/** Level Colors **/

.pastel-red{
    background-color: #fad1bf;
}

.pastel-tan{
    background-color: #cec19f;
}

.pastel-blue{
    background-color: #a3d4eb;
}

.pastel-lime{
    background-color: #e5e991;
}

.pastel-purple{
    background-color: #bcc0e3;
}

