.center {
    display: flex;
    margin: 0 auto;
    
}

#logo {
    justify-content: center;
}

hr {
    display: flex;
    background: #cc5500;
    border-color: #cc5500;
    height: 1px;
    width: 75% !important;
}

h1 {
    color: var(--cream-brown);
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

p {
    color: var(--cream-brown);
    padding-left: 10px;
    padding-right: 10px;
}

.column-left {
    flex: 50%;
    margin-bottom: 5px;
  }

.column-right {
    flex: 50%;
    margin-bottom: 5px;

}

#columns {
    display: flex;
    width: 70vw;
    height: 20vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-format{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lime);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 10px;
}

.div-center-format{
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}
  
  /* Clear floats after the columns */
  .row {
    display: flex;
  }

.profile-pic{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img{
    width:100%;
    height: auto;
    margin-top: -100px;
}

figcaption {
    color: var(--cream-brown);
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
}

#developer-profiles {
    display: flex;
    flex-direction: row;
    margin: 0px 40px 0px 40px;
}