.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
}

#logo {
    justify-content: center;
    margin-left: 627px
}

hr {
    background: #cc5500;
    border-color: #cc5500;
    margin-top: 1px;
    margin-bottom: 10px;
    height: 1px;
    width: 75% !important;
}

h1 {
    color: var(--cream-brown);
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    color: var(--cream-brown);
    padding-left: 10px;
    padding-right: 10px;
}

.column-left {
    flex: 50%;
    margin-right: 60px
  }

.column-right {
    flex: 50%;

}

#columns {
    display: flex;
    width: 70vw;
    height: 50vh;
    padding-top: 30px;
    margin-left: 220px;
    margin-right: 0px;
}
  
  /* Clear floats after the columns */
  .row {
    display: flex;
  }