:root{
    --indigo: #274060;
    --v-sky-blue: #00647d;
    --sky-blue: #5ED6F2;
    --off-white: #e8e0e0;
    --seasalt: #f7f7f6;
}

#instructions {
    position: left;
    padding: 25px;
    column-span: 1;
    margin-top: 45px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

#map {
    margin-right: 25px;
    margin-top: 15px;
    border-radius: 10px !important;
}

iframe {
    border-radius: 10px;
}

hr {
    background: #cc5500;
    border-color: #cc5500;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    width: 15%;
}

li {
    color: black;
}