@font-face {
    font-family: "Belwe";
    src: url(../components/fonts/Belwe\ Bold.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
}

.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.modal h1 {
    margin: 20px;
    padding: 20px;
    font-family: Belwe;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}

.modal p {
    margin: 0 0 20px;
    padding: 0;
}

.modal-pic{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.modal-pic img{
    width: 150%;
    height: auto;
}

.modal-source{
    position: relative;
}

.modal-source a{
    width:100%;
    height: auto;
    font-size: 12px;
}

.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}